version: '3.8'

services:
  mysql:
    image: mysql:latest
    container_name: mysql-container
    environment:
      MYSQL_ROOT_PASSWORD: noumko009@
      MYSQL_DATABASE: portfolio_db
      MYSQL_USER: kol_sec_admin
      MYSQL_PASSWORD: noumko009
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    restart: always

  adminer:
    image: adminer:latest
    container_name: adminer-container
    ports:
      - "8081:8080"
    restart: always

volumes:
  mysql_data: