spring:
  datasource:
    url: jdbc:mysql://mysql:3306/portfolio_db
    username: kol_sec_admin
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: none

  mail:
    host: smtp.mail.yahoo.com
    port: 587
    username: gna.kolie@yahoo.fr
    password: ${YAHOO_APP_PASSWORD}
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

  task:
    scheduling:
      enabled: true

  servlet:
    multipart:
      enabled: true
      max-file-size: 500MB
      max-request-size: 500MB

  mvc:
    async:
      request-timeout: 10m

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://kolie-portfolio.org/auth/realms/portfolio

server:
  port: 9000
  servlet:
    context-path: /portfolio-api
  tomcat:
    max-swallow-size: -1
    max-http-post-size: 524288000
    connection-timeout: 60s

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info,prometheus,metrics,env,configprops
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
    prometheus:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true

security:
  tls:
    hosts: kolie-portfolio.org:443

backup:
  scheduled: true
  dir: /tmp
  retentionDays: 7

monitoring:
  retention:
    availability:
      detailed-hours: 12
      aggregated-days: 7
    security:
      detailed-days: 1
      aggregated-days: 30
    backup:
      logs-days: 30

cloud:
  aws:
    credentials:
      accessKey: ${AWS_ACCESS_KEY}
      secretKey: ${AWS_SECRET_KEY}
    region:
      static: eu-north-1
    stack:
      auto: false
    s3:
      bucket: ${AWS_S3_BUCKET:kolie-portfolio-profile}
      mediaFolder: media/

prometheus:
  url: ${PROMETHEUS_URL:http://kps-kube-prometheus-stack-prometheus.monitoring.svc.cluster.local:9090}

token:
  cleanup:
    enabled: true
    schedule: "0 0 3 * * ?"
    retention-days: 1

keycloak:
  server-url: https://kolie-portfolio.org/auth
  realm: portfolio
  client-id: portfolio-api
  client-secret: ${KEYCLOAK_CLIENT_SECRET}
  admin-username: ${KEYCLOAK_ADMIN_USERNAME}
  admin-password: ${KEYCLOAK_ADMIN_PASSWORD}
  front-client-id: portfolio-frontend

