spring:
  config:
    activate:
      on-profile: default

  datasource:
    url: jdbc:mysql://localhost:3306/portfolio_db
    username: kol_sec_admin
    password: noumko009

  jpa:
    hibernate:
      ddl-auto: none

  mail:
    host: smtp.mail.yahoo.com
    port: 587
    username: gna.kolie@yahoo.fr
    password: ${YAHOO_APP_PASSWORD}
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
  task:
    scheduling:
      enabled: true

server:
  port: 9000
  servlet:
    context-path: /portfolio-api
  multipart:
    max-file-size: 20MB
    max-request-size: 20MB
    enabled: true

cloud:
  aws:
    credentials:
      accessKey: ${AWS_ACCESS_KEY}
      secretKey: ${AWS_SECRET_KEY}
    region:
      static: eu-north-1
    stack:
      auto: false

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
      base-path: /actuator  
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
    prometheus:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true

security:
  tls:
    hosts: kolie-portfolio.org:443, v2.kolie-portfolio.org:443
backup:
  scheduled: true
  dir: /tmp                 # dossier où on écrit les dumps
  retentionDays: 7

# Configuration personnalisée pour le nettoyage des tokens
token:
  cleanup:
    enabled: true
    schedule: "0 0 3 * * ?"  # Tous les jours à 03h00
    retention-days: 1         # Garder seulement les tokens valides du jour

monitoring:
  retention:
    availability:
      detailed-hours: 12    # Garde tout sur 24h
      aggregated-days: 7    # Garde un point par heure sur 7 jrs
    security:
      detailed-days: 1      # Garde tout sur 7 jours
      aggregated-days: 30   # Un point par jour sur 30 jrs
    backup:
      logs-days: 30         # Garde les logs backup 30 jours



