spring:
  config:
    activate:
      on-profile: default

  datasource:
    url: jdbc:mysql://localhost:3306/portfolio_db
    username: kol_sec_admin
    password: noumko009

  jpa:
    hibernate:
      ddl-auto: none

  mail:
    host: smtp.mail.yahoo.com
    port: 587
    username: gna.kolie@yahoo.fr
    password: ${YAHOO_APP_PASSWORD}
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

server:
  port: 9000
  servlet:
    context-path: /portfolio-api
  multipart:
    max-file-size: 20MB
    max-request-size: 20MB
    enabled: true

cloud:
  aws:
    credentials:
      accessKey: ${AWS_ACCESS_KEY}
      secretKey: ${AWS_SECRET_KEY}
    region:
      static: eu-north-1
    stack:
      auto: false
