spring:
  datasource:
    url: jdbc:mysql://mysql:3306/portfolio_db
    username: kol_sec_admin
    password: noumko009

  jpa:
    hibernate:
      ddl-auto: none

  mail:
    host: smtp.mail.yahoo.com
    port: 587
    username: gna.kolie@yahoo.fr
    password: ${YAHOO_APP_PASSWORD}
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

server:
  port: 9000
  servlet:
    context-path: /portfolio-api