footer {
  background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
  color: white;
  padding: 2rem 0; /* Augmentez le padding pour un meilleur espacement */
  text-align: center;
  width: 100%;

  a {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}