<div class="experience-type-page">
  <!-- Fond animé -->
  <div class="animated-background"></div>

  <div *ngIf="loading" class="loading-message">
    Chargement des types d'expériences...
  </div>

  <div class="experience-type-container" *ngIf="!loading">
    <mat-card *ngFor="let type of experienceTypes; let i = index" 
              class="experience-type-card"
              [@fadeIn]="i">
      <mat-card-header>
        <mat-card-title>{{ type.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button mat-icon-button color="warn" (click)="deleteExperienceType(type.idExperienceType)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>