<mat-toolbar color="primary">
    <span>📌 Mon Portfolio</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/">Accueil</button>
    <button mat-button routerLink="/cv">CV</button>
    <button mat-button routerLink="/dashboard">Dashboard</button>
    <button mat-button routerLink="/simulations">Simulations</button>
    <button mat-button routerLink="/blog">Blog</button>
    <button mat-button routerLink="/contact">Contact</button>
    <button mat-button routerLink="/contact">Admin</button>
  </mat-toolbar>
  