<div class="hobbies-page">
  <div class="animated-background"></div>

  <div class="hobbies-container">
    <ng-container *ngIf="loading; else content">
      <p class="loading-message">Chargement des hobbies...</p>
    </ng-container>

    <ng-template #content>
      <mat-card *ngFor="let hobby of hobbies; let i = index" class="hobby-card" [@fadeIn]="i">
        <mat-card-title>{{ hobby.name }}</mat-card-title>
        <mat-card-content>
          <p>{{ hobby.description || 'Pas de description disponible' }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button color="warn" (click)="deleteHobby(hobby.idHobbies)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </ng-template>
  </div>

  <div *ngIf="hobbies.length === 0 && !loading">
    Aucun hobby trouvé.
  </div>
</div>
