/* Styles globaux */

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Hauteur minimum égale à l’écran */
  }
  
  main {
    flex-grow: 1; /* Fait en sorte que le contenu prenne l’espace restant */
    display: flex;
    justify-content: center;
    align-items: center; /* Centre verticalement */
    flex-direction: column;
  }
  
  footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: auto; /* Pousse le footer en bas */
  }
  