.training-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Animation d'apparition */
.training-card {
  width: 80%;
  max-width: 600px;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInSlideUp 0.6s ease-in-out forwards;
}

/* Animation au survol */
.training-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

/* Définition de l'animation */
@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
