<div class="skill-category-page">
    <!-- Fond animé -->
    <div class="animated-background"></div>
  
    <div *ngIf="loading" class="loading-message">
      Chargement des categories de compétence...
    </div>
  
    <div class="skill-category-container" *ngIf="!loading">
      <mat-card *ngFor="let type of skillCategory; let i = index" 
                class="skill-category-card"
                [@fadeIn]="i">
        <mat-card-header>
          <mat-card-title>{{ type.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <button mat-icon-button color="warn" (click)="deleteSkillDelete(type.idSkillCategory)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>