.dhcp-container {
    text-align: center;
    padding: 20px;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #0e1726;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.config-options {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    padding: 8px 16px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.3);
    }
}

.back-link {
    margin-top: 20px;
    color: #4facfe;
    cursor: pointer;
    text-decoration: underline;
}